@use 'variables' as abstracts;

//Mixins
@mixin tablet {
  @media screen and (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: #{$large}) {
    @content;
  }
}

//flex box mixins

@mixin flex-column {
      display: flex;
      flex-direction: column;
}
    
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
    
@mixin flex-center-column {
      @include flex-center;
      flex-direction: column;
}
    
@mixin flex-center-vert {
      display: flex;
      align-items: center;
}
    
@mixin flex-center-horiz {
      display: flex;
      justify-content: center;
}

@mixin gradient-bg {
  background: linear-gradient(135deg, abstracts.$primary-color 0%, abstracts.$text-light 100%);
}

@mixin text-shadow {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

