@use '../abstracts';

model-viewer {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  display: block;

  @media screen and (min-width: abstracts.$tablet) {
    height: 550px;
  }

  @media screen and (min-width:abstracts.$desktop) {
    width: auto;
    max-width: 1200px;
    height: 700px;
  }
}

.Hotspot {
  visibility: hidden;
  background: url(../images/hotspot.svg) center no-repeat;
  background-size: contain;
  border: 0;
  cursor: pointer;
  width: 35px;
  height: 30px;
  transition: all 1s ease-in-out;
  animation: pulse 2s ease-in-out infinite;

  &:not([data-visible]) {
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    transform: scale(1.15);
    filter: brightness(1.1);
    animation: none;

    @media screen and (min-width: abstracts.$desktop) {
      transform: scale(1.2);
    }
  }

  &:focus {
    border: 3px solid abstracts.$primary-color;
    outline: none;
    width: 28px;
    height: 28px;

    @media screen and (min-width: abstracts.$desktop)  {
      border: 4px solid rgb(0, 128, 200);
      width: 32px;
      height: 32px;
    }
  }

}

@media screen and (min-width: abstracts.$tablet) {
    .Hotspot {
      visibility: visible;
    }
  }

@keyframes pulse {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.1);
  }
}

.HotspotAnnotation {
  visibility: hidden;
  background-color: abstracts.$white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 700;
  left: calc(100% + 0.5em);
  max-width: 150px;
  overflow-wrap: break-word;
  padding: 0.4em 0.8em;
  position: absolute;
  top: 50%;
  width: max-content;
  text-align: left;

  @media screen and (min-width:abstracts.$tablet) {
    font-size: 16px;
    max-width: 180px;
    padding: 0.45em 0.9em;
    left: calc(100% + 0.75em);
  }

  @media screen and (min-width: abstracts.$desktop) {
    font-size: 18px;
    max-width: 200px;
    padding: 0.5em 1em;
    left: calc(100% + 1em);
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.5em;

    @media screen and (min-width: abstracts.$desktop) {
      gap: 0.75em;
      margin-bottom: 0.75em;
    }

    img {
      max-width: 50px;
      flex-shrink: 0;
      height: auto;
      display: block;
      margin: 0;
      border-radius: 3px;
      animation: fadeInScale 0.6s ease-out;

      @keyframes fadeInScale {
        0% {
          opacity: 0;
          transform: scale(0.8);
        }
        100% {
          opacity: 1;
          transform: scale(1);
        }
      }
    }

    h2 {
      font-size: 14px;
      flex: 1;
      margin: 0;
      color: abstracts.$primary-color;
      font-weight: 700;

      @media screen and (min-width: abstracts.$tablet) {
        font-size: 16px;
      }

      @media screen and (min-width: abstracts.$desktop) {
        font-size: 18px;
      }
    }
  }

  p {
    line-height: 1.4;
    font-weight: 300;
    font-size: 12px;
    margin: 0;

    @media screen and (min-width: abstracts.$tablet) {
      font-size: 13px;
      line-height: 1.5;
    }

    @media screen and (min-width: abstracts.$desktop) {
      font-size: 14px;
      line-height: 22px;
    }
  }
}