@use "../abstracts";

main {
  // height: 2000px;
  margin-top: 0.15rem;

  section{
    margin: 0 !important;
  }

  #model-3d {
    display: block !important;
  }

  #model-text{
    margin-top: -100px;
    visibility: visible;

    @media screen and (min-width: abstracts.$tablet) {
    visibility: collapse;
  }
  }

  #text-info {
    display: block;
    padding: 1rem;

    h2 {
      font-size: 14px;
      flex: 1;
      margin: 0;
      color: abstracts.$primary-color;
      font-weight: 700;
    }

    p {
      line-height: 1.4;
      font-weight: 300;
      font-size: 12px;
      margin: 0;
    }

    .info-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5em;
      margin-bottom: 0.5em;
    }

    .info-wrapper {
      margin-bottom: 30px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
      margin-bottom: 0.5em;
      background-color: abstracts.$white;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0px 5px 2px rgba($color: #000000, $alpha: 0.5);
    }

    .info-image {
      rotate: 90deg;
      width: 50px;
      height: 50%;
    }
  }
}
